body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#navitems{margin-left: auto;}
.nav-item{margin-left: 25px;}
#navlinkcolor:hover{
    color: blue;
    transition: .5s;
}
#buttomcolor{
    background-color: rgb(56, 126, 209);
    padding: 5px 22px;
    font-size: 15px;
    font-weight: 500;
}
#buttomcolor:hover{background-color: black;}
#menu-area{
    position: static;
   
}
#mega-area{
position: absolute;
width: 50%;
margin-left:650px ;


}
.dropdownitem{
    text-decoration: none;
color: darkolivegreen;



}
#mega-area li{
    list-style-type: none;
    
}
#mega-area h5{
margin-left:35px ;
}
#dropdownbar{
    margin-top: 30px;
   
 
}
#lastdropdown{
    margin-top: 35px;
} 


.openaccount{
    margin-top: 140px;

}
/* end of navbar */
#body1button:hover{
    background-color: black;
}
/* end of body1 */
#body2-li li{

flex-wrap: wrap;
    padding: 8px;
}
/* end of body2 */
#body3a:hover{

    color: black;
}
/* end of body3 */
/* end of body4 */
/* end of body5 */
/* end of body6 */
.card-link{
    text-decoration: none;
}
#footer li{
list-style-type: none;
padding:5px 0px; 
}
#footer h5{
margin-left: 25px;

}
#footer li a{
    color: dimgray;
  font-weight: light;
  font-size: 17px;
  text-decoration: none;
}
#footer li a:hover{
    color: blue;
}
#lastfooter a{
    text-decoration: none;
    padding: 10px;
    color: dimgray;
    font-size: 13px;
}

/* About.html */

#links{
   text-decoration: none;
}
#links:hover{
    color: black;
}
#dropdownMenuLink{
    text-decoration: none;
    color: darkolivegreen;
}
#dropdownMenuLink:hover{
    color: black;
}
/* Product.html */
 #Productpage a{
    text-decoration: none;
    /* color: rgb(56, 74, 156); */
 }
 #Productpage a:hover{
     color: black;
 }
 #productLinks{
     color: rgb(68, 70, 223);
     font-size: 17px;
 }
#productLinks:hover{
    color: black;
}
#productbtn:hover{
    background-color: black;
}
#ProductImg a{

   padding: 50px; 
}
#productbtn{
background-color: rgb(56, 126, 209);

}
/* Pricing.html */
#Pricingpage a{
    text-decoration: none;
  font-family:sans-serif
 }
 #Pricingpage a:hover{
    color: black;
}
/* Support.html */
#supportlinks a{
    color: white;
    font-size: 17px;
    text-decoration: underline;
text-underline-position:under ;
padding: 15px;
font-weight: normal;



}

#secondcolom h5 a {
text-decoration: none;
    color: white;
    font-weight: normal;
}
#secondcolom li {
    
        color: white;
        font-weight: normal;
    
    }
    #secondcolom li a{
    font-size: 18px;
        color: white;
        font-weight: normal;
        line-height: 50px;
    }
    #supportbody li{
        list-style-type: none;
        padding: 8px 0px;
    }
    #supportbody h5 a{
        text-decoration: none;
        color: rgb(68,68,68);

    }
    #supportbody1 li{
        padding: 8px 0px;
        list-style-type: none;
    }
    #supportbody1 h5 a{
        text-decoration: none;
        color: rgb(68,68,68);
    }
    /* open-account.html */
    #openaccountbtn{
        background-color: rgb(56, 126, 209);
        padding: 6px 33px;
    }
    #openaccountbtn:hover{
        background-color: black;   
    }
